<p>Number: {{ data.number }}</p>
<p>String: {{ data.string }}</p>
</p>List of things: {% for thing in data.list %}  {{ thing }}  {% endfor %}</p>

<button id="save-button">Save</button>

<script>

const saveButton = document.querySelector('#save-button')

const data = {{ data|safe }}   // probably an error in editor but works once Jinja inserts the data 

console.log(data)   // just showing it's there 
 
saveButton.addEventListener('click', function() {

    fetch('/save', {
        method: "POST", 
        body: JSON.stringify(data),
        // data: {a: 2345},
        headers: {
          "Content-Type": "application/json",
        },
    })
    .then( resp => resp.text())   // or resp.json if the server returns JSON
    .then( text => alert(text))
    .catch( err => console.log(err))


})

</script>